<app-student-search (s)="findStudentByName($event)"></app-student-search>
<h1>Student List</h1>
<table>
  <tr>
    <td>#</td>
    <td>Name</td>
    <td>Address</td>
    <td>Mark</td>
    <td>Classes</td>
    <td>Update</td>
    <td>Delete</td>
  </tr>
  <ng-container *ngFor="let s of listStudent; index as i">
    <tr>
      <td>{{i + 1}}</td>
      <td>{{s.fullName}}</td>
      <td>{{s.address}}</td>
      <td>{{s.mark}}</td>
      <td>{{s.classes}}</td>
      <td>
        <a [routerLink]="['/students/edit', i]">Update</a>
      </td>
      <td>
        <button (click)="removeStudent(i)">Delete</button>
      </td>
    </tr>
  </ng-container>
</table>
<a routerLink="/students/create">Create new student</a>
